# Q1
Write a code to display a list of the first 12 multiples of 8 using a for loop

In [11]:
for x in range(8, 97, 8):
    print(x)

8
16
24
32
40
48
56
64
72
80
88
96

# Q2
Write the code to print sum of all even numbers from 1 to 201

In [2]:
sum = 0

for i in range(2, 202, 2):
    sum += i

print(sum)

10100

# Q3
`my_list = [3, 5, 7, 12, 41]`

Write the code to display the list of the squares of each number in my list

- Without using list comprehension
- Using list comprehension

In [15]:
my_list = [3,5,7,12,41]
squares_1=[]
for i in my_list:
    squares_1.append(i**2)

In [19]:
squares_1

[9, 25, 49, 144, 1681]

In [20]:
square_1 = [i**2 for i in my_list]
square_1

[9, 25, 49, 144, 1681]

# Q4
`my_list1 = [3, 53,47, 22, 53, 78, 12, 41]`

Calculate the average of my_list1

- Without using sum and len fucnctions
- Using sum and len functions

In [29]:
my_list1 = [3, 53,47, 22, 53, 78, 12, 41]
sum_1 = 0
count_1 = 0

for i in my_list1:
    sum_1 += i
    count_1 += 1

average = sum_1/count_1

In [23]:
print(average)

38.625

In [37]:
average_2 = sum(my_list1) / len(my_list1)
print(average_2)

TypeError: 'int' object is not callable

# Q4

Write a Python program to guess a number between 1 and 9.
User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [38]:
guess_number = 3

while True:
    guess = int(input("Guess a number between 1 and 9: "))

    if guess == guess_number:
        print("Well guessed!")
        break
    else:
        print("Incorrect guess")

Guess a number between 1 and 9: 5
Incorrect guess
Guess a number between 1 and 9: 3
Well guessed!

# Q5
Write a Python program to construct the following pattern.

`*` 

`* *` 

`* * *` 

`* * * *` 

`* * * * *`

In [44]:
num_1 = 5

for i in range(1, num_1 + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

# Q6

Write a Python program that accepts a word from the user and reverses it.

In [50]:
word = input("Enter any word: ")

reverse_word = word[::-1]

print("Reversed word:", reverse_word)

Enter any word: Level
Reversed word: leveL

# Q7
Write a Python program that accepts a word from the user and reverses it.

In [61]:
word_2 = input("Enter a word: ")
reverse_word_2 = word_2[::-1]
print("reversed word:", reverse_word_2)

Enter a word: community
reversed word: ytinummoc

# Q8

`lst = [3,4,5,4,7,8,5,8,3,6,8,9,11]`

Write a Python program to count the number of even and odd numbers in the above list of numbers.

**Expected output should be in this format**

{"Even" : num_of_even, "Odd": num_of_odd}

In [69]:
lst = [3,4,5,4,7,8,5,8,3,6,8,9,11]

num_of_even = 0
num_of_odd = 0

for i in lst:
    if i % 2 == 0:
        num_of_even += 1
    else:
        num_of_odd += 1

print({"Even": num_of_even, "Odd": num_of_odd})

{'Even': 6, 'Odd': 7}

# Q9
 Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".
Sample Output :
1

2

fizz

4

buzz

In [107]:
for i in range(1,51):
     if i%5==0 and i%3==0:
        print("FizzBuzz")
    
     elif i%3==0:     
        print("Fizz")
    
     elif i%5==0:
        print("Buz")
       
     else:
        print(i)

1
2
Fizz
4
Buz
Fizz
7
8
Fizz
Buz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buz
Fizz
22
23
Fizz
Buz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buz
Fizz
37
38
Fizz
Buz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buz

# Q10
 Write a Python program to find the median of three values inputs from the user

In [110]:
value1 = float(input("Enter the first number: "))
value2 = float(input("Enter the second number: "))
value3 = float(input("Enter the third number: "))

if value1 >= value2:
    if value2 >= value3:
        median = value2
    elif value1 <= value3:
        median = value1
    else:
        median = value3
else:
    if value1 >= value3:
        median = value1
    elif value2 <= value3:
        median = value2
    else:
        median = value3


print("The median is:", median)

Enter the first number: 4
Enter the second number: 5
Enter the third number: 9
The median is: 5.0

# Q11
Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [115]:
numbers = []
while True:
    num = int(input("Enter a number (enter 0 to finish): "))
    if num == 0:
        break
    numbers.append(num)


total = sum(numbers)
average = total / len

Enter a number (enter 0 to finish): 0

TypeError: 'int' object is not callable

# Q12
 Write a Python program to create the multiplication table (from 1 to 12) of a number input from a user.
 
 Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60 

6 x 11 = 66

6 x 12 = 72

In [117]:
number2 = int(input("Input a number: "))

for i in range(1, 13):
    print(number2, "x", i, "=", number2*i)

Input a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

# Q13
Write a Python program to construct the following pattern

1

22

333

4444

55555

666666

7777777

88888888

999999999

In [120]:
num_1 = 9

for i in range(1, 10):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

# Q14
Print sum of all odd numbers from 10 to 50

In [127]:
sum = 0
for i in range(10, 51):
    if i % 2 == 1:
        sum += i
print("The sum of all odd numbers from 10 to 50 is:", sum)

The sum of all odd numbers from 10 to 50 is: 600

# Q15

`my_list = [25, 100, 121, 400, 81]`

Write the code to display the list of the square root of each number in my list

- Without using list comprehension
- Using list comprehension

In [132]:
my_list = [25, 100, 121, 400, 81]
square = []
for i in my_list:
    square.append(i**0.5)
square

[5.0, 10.0, 11.0, 20.0, 9.0]